*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    flex-wrap: wrap;
}
.main-div{
    background-color:white;
    justify-content: center;
    text-align:center;
    display: column;
    flex-direction: row;
    text-align: center;
}

.invite-form{
    background-color:whitesmoke;
    width: 45%;
    padding: 10px 0;
    text-align: center !important;
    float:none;
    display: inline-block;
    margin-bottom: 50px;
    box-shadow: 11px 12px 13px 12px rgb(207, 207, 207);
}
    

.invite-image{
    margin-top:50px;
    margin-bottom: 10px;
    width: 20%;
    height: 20%;
    align-self: center;
    background-color: white;
}

.invite-image-div{
    margin: 30px 5px 0 0;
    align-self: center;
    justify-content: center;
    justify-items: center;
}
.invite-block-title{
    font-style: normal;
    font-family: Georgia;
    margin: 10px 2px;
}

.invite-input{
    border-radius: 5px;
    display: inline-block;
    font-style: normal;
    font-family: Georgia;
    width: 50%;
    height: 30px;
    margin: 5px 0;
    display: inline-block;
}

.invite-button{
    background-color: green;
    color:white;
    border-radius: 5px;
    font-style: normal;
    font-family: Georgia;
    width: 50%;
    height: 30px;
}

.start-date{
    display: flex;
    flex-direction:column;
}

.invite-label{
    font-style: normal;
    font-family: Georgia;
}