.player-wrapper {
  position: relative;
  padding-top: 56.25%; /* Player ratio: 100 / (1280 / 720) */
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
}
.body-reduce {
  height: 50%;
}

.card-group-reduce {
  height: 28%;
  color: rgba(249, 105, 14, 1);
}
.first-video-card {
  margin-right: 23px;
  margin-top: 23px;
}
.second-video-card {
  margin-top: 23px;
}
