*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    flex-wrap: wrap;
}

.main-registration-div{
    background-color:white;
    justify-content: center;
    text-align:center;
    display: column; 
    flex-direction: row;
    text-align: center;
}

.form-groups{
    width: 100%;
    justify-content:center;
    background-color: white;
    align-items: center;
}

.registration-form{
    background-color:whitesmoke;
    width: 30%;
    padding: 10px 0;
    text-align: center !important;
    float:none;
    display: inline-block;
    margin-bottom: 10px;
}

.form-title-div{

    text-align:center;
    font-style: normal;
    font-family: Georgia;
    margin-top:10px;
    margin-bottom:20px;
    width: 100%px;
    font-size: 30px;
}

.registration-image{
    margin-top:100px;
    margin-bottom: 10px;
    width: 10%;
    height: 10%;
    align-self: center;
    background-color: white;
}

.registration-image-div{
    margin: 0;
    align-self: center;
    justify-content: center;
    justify-items: center;
}

.personal-info{
    align-self: center;
    width: 50%;
    height: 50%;
    background-color: white;
    justify-content:center;
}

.registration-input-div{
    justify-content: center;
    align-self: center;
}

.registration-input{
    width: 200%;
    align-self: center;
    height:30px;
    border-radius:5px;
    margin:5px 0;
    display: inline-block;
    font-family: verdana;
}

.register-button{
    width: 200%;
    height:40px;
    margin:20px 20px 0 0;
    background-color: green;
    color: white;
    border-radius:5px;
}

.registration-blocks-title{
    font-style: normal;
    font-family: Georgia;
    font-size:20px;
    width: 200px;
    margin:10px 0;
}

.contact-us{
    font-style:italic;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 5px;
    width: 200%;
}

.click-here{
    text-decoration:none;
    font-family: Georgia;
}

.form-title{
    text-align:center;
    font-style: normal;
    font-family: Georgia;
    margin-top:100px;
    margin-bottom:20px;
    width: 150px;
}