.removeDefault {
  color: rgba(102, 51, 153, 1) 100%;
  text-decoration: none;
}

.removeDefault:hover {
  color: rgba(249, 105, 14, 1);
  text-decoration: none;
  cursor: pointer;
}
.imageBack {
  background-size: cover;
}