// .homeContainer {
//   display: grid;
//   margin: 80px;
//   padding: 0;
//   grid-template-rows: repeat(4, 1fr);
//   grid-template-columns: 1fr;
//   height: 60%;
//   z-index: 100;
//   background-color: #a9a9a9;
// }

.removeDefault {
  color: RGB(1, 2, 3);
  text-decoration: none;
}

.removeDefault:hover {
  color: #00a0c6;
  text-decoration: none;
  cursor: pointer;
}
.imageBack {
  background-size: cover;
}
