.link {
  text-decoration: none;
}
.link:hover {
  color: rgba(249, 105, 14, 1);
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}
.ac {
  background-color: #060b26;
  width: 80px;
  color: #fff;
  padding: 5px;
  border-radius: 4px;
}

.headerClass {
  margin-left: 1px;
  margin-right: 10px;
  height: 220px;
}
.toggleHeader {
  margin-right: 50px;
}
