.topbar {
  background: #bcf;
  margin: 0;
  padding: 3px;
}
.nav {
  height: 10%;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  text-decoration: none;
}
.item {
  margin: 1rem;
  color: #fff;
  list-style-type: none;
  cursor: pointer;
  width: 4%;
  height: 4%;
  border: 1px solid #ebc;
  border-radius: 4px;
  text-align: center;
  font-size: 10px;
}
.logo {
  font-weight: bold;
  font-size: 30px;
  color: darkblue;
  cursor: pointer;
  list-style-type: none;
  margin-left: 2px;
}
.rem {
  text-decoration: none;
}
