.topbar {
  background: #bcf;
  height: 30%;
  margin: 0;
  padding: 0.5px;
}
.nav {
  height: 10%;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  text-decoration: none;
}
.item {
  margin: 1rem;
  color: #fff;
  list-style-type: none;
  cursor: pointer;
  width: min-content;
  height: 4%;
  border: 1px solid #ebc;
  border-radius: 4px;
  text-align: center;
  font-size: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  &:hover {
    font-weight: bold;
    color: #fff;
    background-color: #adb;
    border-radius: 8px;
  }
}
.logo {
  font-weight: bold;
  font-size: 30px;
  color: darkblue;
  cursor: pointer;
  list-style-type: none;
  margin-left: 2px;
}
.rem {
  text-decoration: none;
}
