.list-group-list {
  //position: relative;
  display: flex;
  padding: 0.5rem 1rem;
  color: #091c30;
  text-decoration: none;
  background-color: rgb(20, 20, 48);
  border: 1px solid rgba(0, 0, 0, 0.125);
  display: cover;
  
}
.nav-link-item {
  display: block;
  padding: 0.5rem 1rem;
  color: black;
  text-transform: capitalize;
  border-radius: 10px;
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out;
  background-color: #fff;
}
ul li .active:hover {
  background-color: rgb(20, 20, 48);
  color: #fff;
}
.activeItemClass {
  background-color: #a8b8a8;
}

.top-bar{
  width: 100%;
  background-color: rgb(20, 20, 48);
  display: flex;
  height: 80px;
  margin-top:80px;
  justify-content:end;
  position: sticky;
  top:0;
}

.top-div-button{
  color: #fff;
  text-align: center;
  
  height: 40px;
  width: 80px;
  margin-top: 30px;
  margin-right: 5px;
  color:rgb(20, 20, 48);
  border-radius: 5px;

  transition: 200ms ease-in ;

  &:hover{
    background-color: rgb(20, 20, 48);
    color: white;
  }
}